.body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    padding:0;
    margin: 0;
    background-color: rgb(2, 2, 2);
    color: aliceblue;
}
.logo-section{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 5rem;

}

.login-container, .image-container{
    width: 50%;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container{
    padding-top: 10%;
    width: 50%;
    height: 85%;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
    &.flipped {
        transform: rotateY(180deg);
      }
}
.signup-section{
    transform: rotateY(180deg);
}

.login-section,
.signup-section {
    background: linear-gradient(135deg, rgba(41, 37, 37, 0.8), rgba(105, 91, 91, 0.7));
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5), 0 0 25px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    color: white;
    position: absolute;
    display: flex;
    height: 80%;
    width: 100%;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    border-radius: 10px;
}
.login-section:hover, .signup-section:hover {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.6), 0 0 35px rgba(0, 0, 0, 0.5), 0 0 40px rgba(255, 255, 255, 0.3);
  }
.signup-section{
    flex-direction: column;
}
/* .form-container .signup-section{
    transform: rotateY('180deg');
} */

/* .form-container.flipped {
    transform: rotateY(180deg);  Flip the whole container 
  }*/

.login-form, .signup-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;  
}

.google-signin{
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white; 
    color: black; 
    border: 2px #ccc solid; 
    border-radius: 8px;
    font-size: 16px; 
    cursor: pointer;
}
.email-section, .pass-section, .username-section{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
}

/* .password-section{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
} */
/* .first-lastname{
    display: flex;
} */
#email, #password, #username{
    height: 2.5rem;
    border: 2px #ccc solid; 
    border-radius: 8px;
}

.remember_forgot{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: -1rem;
}
.forgot-pass
{
    text-align: right;
}
.signin{
    align-items: center;
    justify-content: center;
    height: 3rem;
    background-color: black;
    border: 2px #080808 solid; 
    border-radius: 8px;
    cursor: pointer;
}
.no-account{
    text-align: center;
}
#signuptoggle{
    cursor: pointer;
}
.image-container{
    overflow: hidden;
    object-fit: cover;
    /* background: url('../../../assets/img/login.png');
    background-repeat: no-repeat; */
}
.image-login{
    border-top-right-radius: 10px; /* Adjust the value as needed */
  border-bottom-right-radius: 10px;
}
.background-video {
height: 100%;
width: 100%;

}