<div class="side-navbar">
<ul class="bar-actions">
  <li class="food-menu">
    <img class="food-menu-img" src="assets/img/food-menu.png" alt="food-menu" />
    <span>Menu</span>
  </li>
  <li class="orders">
    <img class="orders-img" src="assets/img/orders.png" alt="orders" />
    <span>Orders</span>
  </li>
  <li class="favourites">
    <img class="fav-img" src="assets/img/fav.png" alt="favourites" />
    <span>Favourites</span>
  </li>
  <li class="reservation">
    <img class="reserve-img" src="assets/img/reserve.png" alt="reserve" />
    <span>Reserve a Table</span>
  </li>
  <li class="contact-us">
    <img class="phone-img" src="assets/img/phone.png" alt="contact us" />
    <span>Contact Us</span>
  </li>
  <li class="logout">
    <img class="exit-img" src="assets/img/exit.png" alt="log out" />
    <span>Log Out</span>
  </li>
</ul>


</div>