<nav class="top-navbar">
        <div class="side-bar-button">
            <img  class="toggle-icon" src="assets/img/menu-bar.png" alt="menu-bar">
    </div>
    <div class="logo-section">
        <div class="logo-img">
            <img class="logo-icon" src="assets/img/food.png" alt="fork-logo">
        </div>
    </div>
    <div class="search-section">
        <img src="assets/img/search.png" alt="search" class="search-icon">
        <input type="text" placeholder="Search...">
    </div>
    <div class="cart-profile-section">
        <div class="cart">
        <img class="cart-icon" src="assets/img/add-to-cart.png" alt="cart">
        </div>
        <div class="profile">
        <img class="profile-icon" src="assets/img/profile-picture.png" alt="profile">
            </div>
    </div>
</nav>